<!DOCTYPE html>
<html lang="en" ng-app="myNinjaApp">
  <head>
    <title>TheNetNinja Angular Playlist</title>
    <link href="content/css/styles.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="app\app.js"></script>
  </head>
  <body>
    <header ng-include="'header.html'"> </header>

    <div class="content">
      <div ng-controller="myNinjaController">
        <button ng-click="order = 'name'">Order by Name</button>
        <button ng-click="order = 'belt'">Order by Belt</button>
        <p>{{message}}</p>
        <input type="text" ng-model = "search" />
        <ul>
          <li ng-repeat="ninja in ninjas | filter: search | orderBy: order" ng-show = "ninja.available">
            <h3>{{ninja.name}} - {{ninja.rate | currency}}</h3>
            <div class = "remove" ng-click="removeNinja(ninja)"> X</div>
            <span class="belt" style="background: {{ninja.belt}}">{{ninja.belt}} belt</span>

          </li>

        </ul>
      </div>
    </div>
  </body>
</html>
